$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #333;

/*---------------------
// 共通
---------------------*/
body {
  font-size: $font-size-base;
  font-family: $font-family-ja;
  line-height: $line-height-base;
  color: $color-base;
}

.button {
  display: inline-block;
  padding: 9px 52px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #F6F7F7;
  background: linear-gradient(90deg, #2188DE 0%, #2BCBC6 100%);
  border-radius: 48px;
  box-shadow: 4px 3px 26px 0 rgba(0, 0, 0, 16.08%);
}

// header
.header {
  &__outer {
    background: linear-gradient(180deg, #EAF4F7 0%, #FFFFFF 100%);
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 15px;

    @media screen and (min-width: 768px) {
      gap: 16px;
      margin: 0 auto;
      padding: 0 20px;
      max-width: calc(1200px + 40px * 2);
    }

    @media screen and (min-width: 1024px) {
      gap: 120px;
      padding: 0 40px;
    }
  }

  &__logo {
    width: 160px;

    @media screen and (min-width: 768px) {
      flex-shrink: 0;
    }
  }

  &__link {}

  &__img {}

  &__button {
    display: flex;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.drawer-icon {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  z-index: 999;

  &__bar {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #2082E0;
    border-radius: calc(3px / 2);

    &:first-of-type {
      transform: translateY(-10px);
    }

    &:nth-of-type(2) {}

    &:last-of-type {
      transform: translateY(10px);
    }
  }

  &.is-open .drawer-icon__bar {
    background: #FFF;

    &:first-of-type {
      transform: translateY(0) rotate(45deg);
    }

    &:nth-of-type(2) {
      display: none;
    }

    &:last-of-type {
      transform: translateY(0) rotate(-45deg);
    }
  }
}

.drawer-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 130px 0;
  width: 100%;
  height: 100svh;
  background: linear-gradient(180deg, #228EDD 0%, #2BC6C9 100%);
  opacity: 0.9;

  @media screen and (min-width: 768px) {
    position: static;
    padding: 0;
    max-width: 620px;
    width: 100%;
    height: auto;
    background: none;
  }

  @media screen and (min-width: 1024px) {
    max-width: 831px;
  }

  &__logo {
    margin: 0 auto 60px;
    width: 180px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__img {}

  &__nav {}
}

.gnav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 0;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    @media screen and (min-width: 768px) {
      padding: 26px 8px;
      position: relative;
      font-size: 16px;
      font-weight: 500;
      color: #333;

      &.is-active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: #2082df;
      }
    }

    @media screen and (min-width: 1024px) {
      padding: 26px 22px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }
}

.mv {
  padding: 20px 0 80px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;

    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin: 0 auto;
      padding: 0 40px;
      max-width: calc(1120px + 15px * 2);
    }
  }

  &__picture {
    margin: 0 auto;
    max-width: 398px;

    @media screen and (min-width: 768px) {
      margin: 0;
      max-width: 650px;
    }

    img {
      @media screen and (min-width: 768px) {
        width: 650px;
      }
    }
  }

  &__container {
    text-align: center;

    @media screen and (min-width: 768px) {
      min-width: 204px;
      text-align: left;
    }
    @media screen and (min-width: 1024px) {
      min-width: 256px;
    }
  }

  &__logo {
    margin: 0 auto 20px;
    max-width: 250px;

    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-bottom: 24px;
    }
  }

  &__img {}

  &__head {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #2B2B2B;

    @media screen and (min-width: 1024px) {
      font-size: 26px;
    }
  }

  &__text {
    margin-bottom: 30px;
    line-height: 2;
  }

  &__button {}
}