$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #333;

/*---------------------
// 共通
---------------------*/
body {
  font-size: $font-size-base;
  font-family: $font-family-ja;
  line-height: $line-height-base;
  color: $color-base;
}

.button {
  display: inline-block;
  padding: 9px 52px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #F6F7F7;
  background: linear-gradient(90deg, #2188DE 0%, #2BCBC6 100%);
  border-radius: 48px;
  box-shadow: 4px 3px 26px 0 rgba(0, 0, 0, 16.08%);
}

// header
.header {
  &__outer {
    background: linear-gradient(180deg, #EAF4F7 0%, #FFFFFF 100%);
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 15px;

    @media screen and (min-width: 768px) {
      gap: 16px;
      margin: 0 auto;
      padding: 0 20px;
      max-width: calc(1200px + 40px * 2);
    }

    @media screen and (min-width: 1024px) {
      gap: 120px;
      padding: 0 40px;
    }
  }

  &__logo {
    width: 160px;

    @media screen and (min-width: 768px) {
      flex-shrink: 0;
    }
  }

  &__link {}

  &__img {}

  &__button {
    display: flex;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

.drawer-icon {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  z-index: 999;

  &__bar {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #2082E0;
    border-radius: calc(3px / 2);

    &:first-of-type {
      transform: translateY(-10px);
    }

    &:nth-of-type(2) {}

    &:last-of-type {
      transform: translateY(10px);
    }
  }

  &.is-open {
    top: 3px;
    left: 6px;

    .drawer-icon__bar {
      background: #FFF;

      &:first-of-type {
        transform: translateY(0) rotate(45deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:last-of-type {
        transform: translateY(0) rotate(-45deg);
      }
    }
  }
}

.drawer-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 130px 0;
  width: 100%;
  height: 100svh;
  background: linear-gradient(180deg, #228EDD 0%, #2BC6C9 100%);
  opacity: 0.9;

  @media screen and (min-width: 768px) {
    position: static;
    padding: 0;
    max-width: 620px;
    width: 100%;
    height: auto;
    background: none;
  }

  @media screen and (min-width: 1024px) {
    max-width: 831px;
  }

  &__logo {
    margin: 0 auto 60px;
    width: 180px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__img {}

  &__nav {}
}

.gnav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 0;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: bold;
    color: #fff;

    @media screen and (min-width: 768px) {
      padding: 26px 8px;
      position: relative;
      font-size: 16px;
      font-weight: 500;
      color: #333;

      &.is-active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: #2082df;
      }
    }

    @media screen and (min-width: 1024px) {
      padding: 26px 22px;

      &.is-active {
        padding-right: 24px;
      }
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-top: 6px;
    }
  }
}

.mv {
  padding: 20px 0 80px;

  @media screen and (min-width: 768px) {
    padding: 30px 0 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;

    @media screen and (min-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin: 0 auto;
      padding: 0 40px;
      max-width: calc(1120px + 40px * 2);
    }
  }

  &__picture {
    margin: 0 auto;
    max-width: 398px;

    @media screen and (min-width: 768px) {
      margin: 0;
      max-width: 650px;
    }

    img {
      @media screen and (min-width: 768px) {
        width: 650px;
      }
    }
  }

  &__container {
    text-align: center;

    @media screen and (min-width: 768px) {
      min-width: 204px;
      text-align: left;
    }

    @media screen and (min-width: 1024px) {
      min-width: 256px;
    }
  }

  &__logo {
    margin: 0 auto 20px;
    max-width: 250px;

    @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-bottom: 24px;
    }
  }

  &__img {}

  &__head {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #2B2B2B;

    @media screen and (min-width: 1024px) {
      font-size: 26px;
    }
  }

  &__text {
    margin-bottom: 30px;
    line-height: 2;
  }

  &__button {}
}

// news
.news {
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }

  &__inner {
    padding: 0 15px;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      padding: 0 40px;
      max-width: calc(930px + 40px * 2);
    }
  }
  &__title {
    position: relative;
    margin-bottom: 47px;
    padding-bottom: 9px;
    font-size: 30px;
    font-weight: bold;
    font-family: $font-family-en;
    letter-spacing: 3px;
    color: #238FDC;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
      padding-bottom: 4px;
      font-size: 36px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 60px;
      height: 3px;
      background: #2BC8C8;
      transform: translateX(-50%);
    }
  }
  &__lists {
    margin-bottom: 45px;

    @media screen and (min-width: 768px) {
      margin-bottom: 25px;
    }
  }
  &__list {}
  &__more {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__pagination {}
  &__link {
    text-align: center;

    a {
      display: inline-block;
      padding: calc(5px - 2px) calc(24px - 2px);
      font-weight: bold;
      letter-spacing: 3px;
      color: #2392DB;
      border: 1px solid #2392DB;
      border-radius: 2px;
    }
  }
}

.news-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 12px 0;
  }

  &:first-child {
    margin-bottom: 3px;

    @media screen and (min-width: 768px) {
      margin-bottom: -1px;
    }
  }
  &:nth-child(n + 2) {
    padding-top: calc(12px - 1px);
    border-top: 1px solid #e3e3e3;
  }
  &:last-child {
    padding-bottom: calc(12px - 1px);
    border-bottom: 1px solid #e3e3e3;
  }

  &__date {
    font-size: 14px;
    white-space: nowrap;

    @media screen and (min-width: 768px) {
      flex-shrink: 0;
      width: 119px;
      font-size: 16px;
    }
  }
  &__title {
    font-size: 15px;
    color: #111;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 372px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  &__prev,
  &__num,
  &__next {
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background: #fff;
    border: 1px solid #828282;
  }
  &__prev {
    &-path {}
  }
  &__num {
    font-size: 18px;
    font-weight: 500;
    font-family: $font-family-en;
    line-height: 1;
    color: #707070;

    &.pagination__num--current {
      color: #fff;
      background: #228DDD;
    }
  }
  &__next {
    &-path {}
  }
}

// blog
.blog {
  padding: 60px 0;

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }

  &__inner {
    padding: 0 30px;

    @media screen and (min-width: 768px) {
      padding: 0 47px;
    }

    @media screen and (min-width: 1024px) {
      margin: 0 auto;
      padding: 0 40px;
      max-width: calc(1120px + 40px * 2);
    }
  }

  &__title {
    margin-bottom: 47px;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 28px;
      margin-left: calc(80px - 47px);
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1024px) {
      margin-left: 0;
      margin-bottom: 40px;
    }
  }

  &__title--en {
    display: block;
    font-size: 36px;
    font-weight: bold;
    font-family: $font-family-en;
    letter-spacing: 0.1em;
    color: #228DDD;
  }

  &__title--ja {
    display: block;
    font-size: 14px;
    letter-spacing: 0.19em;
    color: #228BDE;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    margin-bottom: 46px;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 34px 20px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    padding: 12px 15px 14px;
    max-width: 360px;
    height: 326px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 5px 7px 34px 0 #F1F1F1;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
    }
  }

  &__thumb {
    position: relative;
    margin-bottom: 6px;

    &::before {
      content: "ラベル";
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 24px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      background: #2392DB;
    }
  }

  &__img {}

  &__contents {}

  &__lead {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: bold;
  }

  &__text {
    font-size: 13px;
  }

  &__button {
    text-align: center;

    @media screen and (min-width: 1024px) {
      margin-left: 20px;
    }
  }

  &__link {}
}